// GLOBAL

// COLORS
$darkgrey: #3e3e3e
$darkgreyLT: #474444
$green: #4bb346
$greenLT: #63cc5e
$blue: #2b8bd1
$blueLT: #42a6f0
$orange: #915325
$orangLT: #a75a21

$border: 1px solid #999

a:link,
a:active,
a:visited
  color: $orange
  text-decoration: none
  transition: .4s
a:hover
  color: $orangLT
a.btn
  color: $green
ul,
li
  list-style: none
  padding: 0
  margin: 0
.fa
  margin-right: 8px
.title
  text-transform: uppercase
  border-bottom: $border

*
  box-sizing: border-box
body
  font-family: 'Ubuntu', sans-serif
  line-height: 1.5
p
  font-weight: 300
section
  margin: 40px 0
  padding: 30px
  background: #fbfbfb

// SECTIONS

  // HEADER
// LOCATION BAR
.location
  font-size: 1.2em
  i
    color: red
.location-select
  width: 60%
  height: 36px
  padding-left: 10px
  font-weight: 300
  border-radius: 3px
.social
  .fa
    width: 40px
    height: 35px
    line-height: 37px
    border-radius: 4px
    color: white
    transition: .4s
  .fa-facebook
    background: #3b5998
    border: 1px solid #3b5998
    &:hover
      background: white
      border: $border
      color: #3b5998
  .fa-twitter
    background: #1DA1F2
    border: 1px solid #1DA1F2
    &:hover
      background: white
      border: $border
      color: #1DA1F2
  .fa-youtube
    background: #cc181e
    border: 1px solid #cc181e
    &:hover
      background: white
      color: #cc181e

.scrollTop
  position: fixed
  z-index: 999
  bottom: 20px
  right: 20px
  border: 3px solid $green
  border-radius: 5px
  opacity: .5
  transition: .5s
  i
    margin: 0
    font-size: 2.5em
    color: $green
    padding: 10px 15px
  &:hover
    opacity: 1

footer
  padding: 30px
  form
    position: relative
    label
      position: absolute
      top: 5px
      right: 9px
      font-size: 1.2em
      color: $green
    input[type="submit"]
      display: none
