a:link,
a:active,
a:visited {
  color: #915325;
  text-decoration: none;
  transition: .4s;
}

a:hover {
  color: #a75a21;
}

a.btn {
  color: #4bb346;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fa {
  margin-right: 8px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0 25px 0;
  padding: 10px 0;
}

.title {
  text-transform: uppercase;
  border-bottom: 1px solid #999;
}

h4 {
  font-size: 1.2em;
}

.no-underscore {
  border: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.8;
  color: #666;
  width: 100vw;
  overflow-x: hidden;
}

p {
  font-weight: 300;
}

section {
  width: 100%;
  margin: 50px 0;
  padding: 30px;
}

@media (max-width: 992px) {
  section {
    padding: 0;
  }
}

header .navigation .location {
  font-size: 1.2em;
}

header .navigation .location i {
  color: red;
}

header .navigation .location-select {
  width: 60%;
  height: 36px;
  padding-left: 10px;
  font-weight: 300;
  border-radius: 3px;
}

header .navigation .social .fa {
  width: 40px;
  height: 35px;
  line-height: 37px;
  border-radius: 4px;
  color: white;
  transition: .4s;
}

header .navigation .social .fa-facebook {
  background: #3b5998;
  border: 1px solid #3b5998;
}

header .navigation .social .fa-facebook:hover {
  background: white;
  border: 1px solid #999;
  color: #3b5998;
}

header .navigation .social .fa-twitter {
  background: #1DA1F2;
  border: 1px solid #1DA1F2;
}

header .navigation .social .fa-twitter:hover {
  background: white;
  border: 1px solid #999;
  color: #1DA1F2;
}

header .navigation .social .fa-youtube {
  background: #cc181e;
  border: 1px solid #cc181e;
}

header .navigation .social .fa-youtube:hover {
  background: white;
  color: #cc181e;
}

#hero {
  margin: 0;
  padding: 0;
}

#hero .hero-image {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 750px;
  background: url("../images/hero-bg.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  display: table;
  margin-bottom: 300px;
}

@media (max-width: 992px) {
  #hero .hero-image {
    margin-bottom: 40px;
  }
}

#hero .hero-image::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(68, 68, 68, 0.6);
}

#hero .hero-image .hero-title {
  width: 50%;
  margin: 200px auto 0 auto;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #444;
}

#hero .hero-image .hero-title h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 4.5em;
  font-weight: bold;
}

#hero .hero-image .hero-features {
  width: 90%;
  position: absolute;
  top: 650px;
  left: 5%;
  box-shadow: 0 10px 20px #bbb;
}

@media (max-width: 992px) {
  #hero .hero-image .hero-features {
    position: static;
    width: 100%;
  }
}

#hero .hero-image .hero-features .feature-cell {
  padding: 40px;
  background: white;
}

#hero .hero-image .hero-features .feature-cell:nth-child(2) {
  background: #4bb346;
  color: white !important;
}

#hero .hero-image .hero-features i {
  color: #f23c2a;
  font-size: 2.5em;
}

#about .about-section-one,
#about .about-section-two,
#about .about-section-three {
  width: 100%;
}

@media (max-width: 992px) {
  #about .about-section-one,
  #about .about-section-two,
  #about .about-section-three {
    margin: 40px 0;
  }
}

#about .about-section-one .about-image {
  margin: 30px;
  min-height: 550px;
  background: url("../images/about-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  #about .about-section-one .about-image {
    margin: 0;
  }
}

#about .about-section-two {
  margin: 0;
  padding: 0;
}

#about .about-section-two .about-image {
  min-height: 650px;
  background: url("../images/about-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  #about .about-section-two .about-image {
    margin: 0;
  }
}

#about .about-section-two .about-image .text-field {
  min-height: 650px;
  display: table;
  padding: 0;
}

#about .about-section-two .about-image .text-field span {
  display: table-cell;
  color: white;
  background: rgba(50, 50, 50, 0.2);
  padding: 90px;
  text-shadow: 0 0 10px #444;
}

.scrollTop {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  border: 3px solid #4bb346;
  border-radius: 5px;
  opacity: .5;
  transition: .5s;
  transform: translateX(100px);
}

.scrollTop i {
  margin: 0;
  font-size: 2.5em;
  color: #4bb346;
  padding: 10px 15px;
}

.scrollTop:hover {
  opacity: 1;
}

.showScrollTopButton {
  transform: translateX(0);
}

footer {
  padding: 30px;
}

footer form {
  position: relative;
}

footer form label {
  position: absolute;
  top: 5px;
  right: 9px;
  font-size: 1.2em;
  color: #4bb346;
}

footer form input[type="submit"] {
  display: none;
}
